.service-details {
  max-width: 1440px;
  margin: 3rem auto;
  padding: 0 9.375rem;
}
.service-details .top-banner {
  position: relative;
}
.service-details .breadcrumb {
  position: absolute;
  color: #fff;
  bottom: 3%;
  left: 16%;
}
.service-details .main-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2.5rem;
}
.service-details .main-body .left-section .feature-img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}
.service-details .main-body .left-section .service-description {
  color: #737373 !important;
  line-height: 2rem;
}
.service-details .main-body .left-section .service-features {
  margin: 2.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.service-details .main-body .left-section .service-features .service-feature {
  background-color: #F3F3F3;
  width: 21rem;
  height: 12.75rem;
  padding: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  border-top: 3px solid #FF3811;
}
.service-details .main-body .left-section .servicing-steps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.service-details .main-body .left-section .servicing-steps .servicing-step {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  padding: 2rem;
}
.service-details .main-body .left-section .servicing-steps .servicing-step img {
  height: 83px !important;
  width: 83px !important;
}
.service-details .main-body .right-section .available-services {
  background-color: #F3F3F3;
  border-radius: 10px;
}
.service-details .main-body .right-section .available-services .service a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 600;
  transition: transform 0.5s;
}
.service-details .main-body .right-section .available-services .service a:hover {
  background-color: #FF3811;
  color: #fff;
  transform: translateX(10px);
}
.service-details .main-body .right-section .download-documents {
  border-radius: 10px;
}
.service-details .main-body .right-section .promotional-section {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.service-details .main-body .right-section .quote-btn {
  background-color: #FF3811;
  border: #FF3811;
  position: absolute;
  bottom: 30px;
  left: 33%;
}
.service-details .main-body .right-section .quote-btn:hover {
  background-color: #c71007;
}
.service-details .main-body .right-section .checkout-btn {
  background-color: #FF3811;
  border: #FF3811;
}
.service-details .main-body .right-section .checkout-btn:hover {
  background-color: #c71007;
}

@media screen and (max-width: 1220px) {
  .breadcrumb {
    position: absolute;
    color: #fff;
    bottom: 3%;
    left: 20% !important;
  }
}
@media screen and (max-width: 1040px) {
  .breadcrumb {
    position: absolute;
    color: #fff;
    bottom: 3%;
    left: 22% !important;
  }
}
@media screen and (max-width: 920px) {
  .breadcrumb {
    position: absolute;
    color: #fff;
    bottom: 3%;
    left: 25% !important;
  }
}
@media screen and (max-width: 860px) {
  .breadcrumb {
    position: absolute;
    color: #fff;
    bottom: 3%;
    left: 28% !important;
  }
}
@media screen and (max-width: 710px) {
  .breadcrumb {
    position: absolute;
    color: #fff;
    bottom: 3%;
    left: 28% !important;
    font-size: 1.2rem !important;
  }
}/*# sourceMappingURL=ServiceDetails.css.map */