$primary-color: #FF3811;
$text-primary: #151515;
$text-secondary: #737373;
$text-white: #fff;
$text-2: #A2A2A2;
$section-max-width: 1440px;
$section-universal-padding: 9.375rem;
$font-family-primary: Inter, sans-serif;
$btn-hover-bg: #c71007;
$border-basic: 1px solid #c8c8c8;

.service-details {
    max-width: $section-max-width;
    margin: 3rem auto;
    padding: 0 $section-universal-padding;
    position: relative;

    .breadcrumb{
        position: absolute;
        color: $text-white;
        bottom: 3%;
        left: 16%;
    }
}

@media screen and (max-width: 1220px) {
    .breadcrumb{
        position: absolute;
        color: $text-white;
        bottom: 3%;
        left: 20% !important;
    }
}
@media screen and (max-width: 1040px) {
    .breadcrumb{
        position: absolute;
        color: $text-white;
        bottom: 3%;
        left: 22% !important;
    }
}
@media screen and (max-width: 920px) {
    .breadcrumb{
        position: absolute;
        color: $text-white;
        bottom: 3%;
        left: 25% !important;
    }
}
@media screen and (max-width: 860px) {
    .breadcrumb{
        position: absolute;
        color: $text-white;
        bottom: 3%;
        left: 28% !important;
    }
}
@media screen and (max-width: 710px) {
    .breadcrumb{
        position: absolute;
        color: $text-white;
        bottom: 3%;
        left: 28% !important;
        font-size: 1.2rem !important;
    }
}