$primary-color: #FF3811;
$text-primary: #151515;
$text-secondary: #737373;
$text-white: #fff;
$text-2: #A2A2A2;
$section-max-width: 1440px;
$section-universal-padding: 9.375rem;
$font-family-primary: Inter, sans-serif;
$btn-hover-bg: #c71007;
$border-basic: 1px solid #c8c8c8;

.admin-dashboard {
    max-width: $section-max-width;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .dashboard-container {
        background-color: #f3f3ff;
        height: 92vh;
        width: 95vw;
        overflow-y: scroll;
        border-radius: 10px;

        &::-webkit-scrollbar {
            width: 0;
        }

        .dashboard-main-body {
            display: grid;
            grid-template-columns: 1.5fr 4fr 0.5fr;

            .navigation-panel {
                display: flex;
                justify-content: start;
                flex-direction: column;
                gap: 0.5rem;
                margin-top: 2rem;

                a:not(.logo) {
                    width: 100%;
                    background-color: #fff;
                    padding: 1rem;
                    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                    border-radius: 0 10px 10px 0;
                    cursor: pointer;
                    font-weight: 500;

                    display: flex;
                    justify-content: start;
                    align-items: center;

                    .icon {
                        margin-right: 1rem;
                    }

                    &:hover {
                        background-color: #d5d6ff;
                    }
                }

                .logo {
                    padding-left: 2rem;
                }
            }

            .admin-info-panel {
                display: flex;
                justify-content: start;
                align-items: center;
                flex-direction: column;
                flex-wrap: wrap;

                .admin-container {
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    border-radius: 10px;
                    margin-right: 0.5rem;
                    padding: 1rem 0;

                    .admin-img {
                        display: flex;
                        justify-content: center;
                        align-items: start;

                        img {
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}