$primary-color: #FF3811;
$text-primary: #151515;
$text-secondary: #737373;
$text-white: #fff;
$text-2: #A2A2A2;
$section-max-width: 1440px;
$section-universal-padding: 9.375rem;
$font-family-primary: Inter, sans-serif;
$btn-hover-bg:#c71007;

.core-features{
    max-width: $section-max-width;
    margin: 0 auto;
    padding: 0 $section-universal-padding;

    .features-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        flex-wrap: wrap;
        margin: 5rem 0;

        .feature{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            width: 170px;
            height: 155px;
            border: 1px solid #c8c8c8;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.5s;

            &:hover{
                transform: translateY(-1rem);
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
            }

            &:nth-child(2){
                background-color: $primary-color;
                color: $text-white;
                border: $primary-color;
            }
        }        
    }
}