$text-primary: #151515;
$text-secondary: #737373;
$text-white: #fff;
$text-2: #A2A2A2;

.footer-container {
    background-color: black;

    .footer {
        background-color: black;
        max-width: 1440px;
        margin: 0 auto;
        padding: 9rem 9.375rem;

        div {

            // width: 283px;
            .footer-text {
                width: 283px;
                // color: $text-2 !important;
                font-weight: 500 !important;
            }

            .footer_title {
                color: $text-white;
                margin-bottom: 1.5rem;
            }

            .link {
                color: $text-2;
                transition: transform 0.5s;
                padding-bottom: 0.5rem;
                font-size: 1.5rem !important;

                &:hover{
                    color: $primary-color !important;
                    text-decoration: none;
                    transform: translateX(5px);
                }
            }
        }
    }
}