$primary-color: #FF3811;
$text-primary: #151515;
$text-secondary: #737373;
$text-white: #fff;
$text-2: #efefef;
$section-max-width: 1440px;
$section-universal-padding: 9.375rem;
$font-family-primary: Inter, sans-serif;
$btn-hover-bg:#c71007;

.footer-container {
    background-color: black;

    .footer {
        background-color: black;
        max-width: 1440px;
        margin: 0 auto;
        padding: 6rem 9.375rem;

        div {

            // width: 283px;
            p {
                width: 300px;
                margin-top: 1.5rem !important;
                font-weight: 500 !important;
            }

            .social-links{
                display: flex;
                align-items: center;
                margin-top: 1.5rem;
                font-size: 1.3rem;
                
                a{
                    // width: 2.2rem;
                    color: $text-2;
                    // height: 2.2rem;
                    background-color: #2C2C2C;
                    padding: 10px;
                    margin-right: 0.75rem;
                    border-radius: 50%;

                    &:hover{
                        background-color: #5a5959;
                    }

                }
            }
            

            .footer_title {
                color: $text-white;
                margin-bottom: 1.5rem;
            }

            .link {
                color: $text-2;
                transition: transform 0.5s;
                padding-bottom: 0.5rem;
                font-size: 1.1rem !important;

                &:hover{
                    color: $primary-color !important;
                    text-decoration: none;
                    transform: translateX(5px);
                }
            }
        }
    }
    .developer-sign{
        font-size: 0.8rem;
        color: #b0b0b0;
        padding-bottom: 1.5rem;
         a{
            color: $text-white;
            &:hover{
                color: $primary-color;
            }
         }
    }
}