$primary-color: #FF3811;
$text-primary: #151515;
$text-secondary: #737373;
$text-white: #fff;
$text-2: #A2A2A2;
$section-max-width: 1440px;
$section-universal-padding: 9.375rem;
$font-family-primary: Inter, sans-serif;
$btn-hover-bg:#c71007;

.sign-up{
    max-width: $section-max-width;
    margin: 0 auto;

    .sign-up-container{
        padding: 4.5rem $section-universal-padding;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .right-section{
            width: 611px;
            border: 1px solid gray;
            border-radius: 10px;
            padding: 5rem;

            form{
                .btn{
                    background-color: $primary-color;
                    color: $text-white;
                    border: none;

                    &:hover{
                        background-color: $btn-hover-bg;
                    }
                }
            }

            .social-sign-up{
                display: flex;
                justify-content: center;
                align-items: center;

                .link{
                    margin: 0 1rem;
                    font-size: 1.5rem;
                    background-color: #EEEEF1;
                    border-radius: 50%;
                    padding: 0.5rem;
                }

                .facebook{
                    color: #315090;
                }
                .linkedin{
                    color: #006EAB;
                }
            }
            .navigate-login-link {
                a{
                    color: #FF3811;
                }
            }
        }
    }
}